<div class="logo d-flex justify-content-center">
<%= image_tag "shareverything.png", alt: "website logo" %>
</div>
<div class="content">
  <%= render 'shared/forms' %>
  <div id="nyt" class="container">
    <h3>Some time ? Read the New-York-Times !</h3>
    <div class="card-articles">
      <div class="card-article">
        <a href="https://www.nytimes.com/2020/09/10/world/covid-19-coronavirus.html">
          <img src="https://static01.nyt.com/images/2020/08/03/us/us-briefing-promo-image-print/us-briefing-promo-image-superJumbo.jpg" alt="">
          <div class="card-article-infos">
            <p class="copyright">©New York Times</p>
            <h4>Covid-19 Live Updates: Senate Republicans Plan Vote on ‘Skinny’ Aid Bill</h4>
            <p>The measure, which Democrats see as inadequate, is likely to fail.</p>
          </div>
        </a>
      </div>
      <div class="card-article">
        <a href="https://www.nytimes.com/2020/09/10/world/covid-19-coronavirus.html">
          <img src="https://static01.nyt.com/images/2020/08/03/us/us-briefing-promo-image-print/us-briefing-promo-image-superJumbo.jpg" alt="">
          <h4>Covid-19 Live Updates: Senate Republicans Plan Vote on ‘Skinny’ Aid Bill</h4>
          <p>The measure, which Democrats see as inadequate, is likely to fail.</p>
        </a>
      </div>
      <div class="card-article">
        <a href="https://www.nytimes.com/2020/09/10/world/covid-19-coronavirus.html">
          <img src="https://static01.nyt.com/images/2020/08/03/us/us-briefing-promo-image-print/us-briefing-promo-image-superJumbo.jpg" alt="">
          <h4>Covid-19 Live Updates: Senate Republicans Plan Vote on ‘Skinny’ Aid Bill</h4>
          <p>The measure, which Democrats see as inadequate, is likely to fail.</p>
        </a>
      </div>
      <div class="card-article">
        <a href="https://www.nytimes.com/2020/09/10/world/covid-19-coronavirus.html">
          <img src="https://static01.nyt.com/images/2020/08/03/us/us-briefing-promo-image-print/us-briefing-promo-image-superJumbo.jpg" alt="">
          <h4>Covid-19 Live Updates: Senate Republicans Plan Vote on ‘Skinny’ Aid Bill</h4>
          <p>The measure, which Democrats see as inadequate, is likely to fail.</p>
        </a>
      </div>
    </div>
  </div>
</div>

