
<div id="nyt">

</div>
<div class="logo d-flex justify-content-center">
<%= image_tag "shareverything.png", alt: "website logo" %>
</div>
<div class="content">
  <%= render 'shared/forms' %>
  <div id="nyt" class="container">
  </div>
</div>

