<div class="logo d-flex justify-content-center">
<%= image_tag "shareverything.png", alt: "website logo" %>
</div>
<%= render 'shared/forms' %>
<div id="nyt" class=" d-flex justify-content-center">
  <h3>Some time ? Read the New-York-Times !</h3>
  <div class="card-articles">
    <div class="card-article">
      <img src="https://static01.nyt.com/images/2020/08/03/us/us-briefing-promo-image-print/us-briefing-promo-image-superJumbo.jpg" alt="">
      <h4><a href="https://www.nytimes.com/2020/09/10/world/covid-19-coronavirus.html">Covid-19 Live Updates: Senate Republicans Plan Vote on ‘Skinny’ Aid Bill</a></h4>
      <p>The measure, which Democrats see as inadequate, is likely to fail.</p>
    </div>
    <div class="card-article">
      <img src="https://static01.nyt.com/images/2020/08/03/us/us-briefing-promo-image-print/us-briefing-promo-image-superJumbo.jpg" alt="">
      <h4><a href="https://www.nytimes.com/2020/09/10/world/covid-19-coronavirus.html">Covid-19 Live Updates: Senate Republicans Plan Vote on ‘Skinny’ Aid Bill</a></h4>
      <p>The measure, which Democrats see as inadequate, is likely to fail.</p>
    </div>
  </div>
</div>

