<div class="container d-flex flex-column justify-content-center align-items-center">
  <div class="error my-5">
    <h1> Sorry, the free trial on Google Cloud platform has expired </h1>
  </div>
  <div class="mt-5">
    <%= link_to "Back", root_path, class:"back-button mt-5" %>
    </div>
</div>
