$ruler: 16px;
$color-red: #AE1100;
$color-bg: #EBECF0;
$color-shadow: #BABECC;
$color-white: #FFF;

.logo {
  height: auto;
  width: 100%;
}

body, html {
  background-color:$color-bg;
}

h1 {
  color: #BABECC;
}


div, p {
  color: black;
  text-shadow: 1px 1px 1px $color-white;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
}
.form-group input {
  border: 0;
  outline: 0;
  font-size: $ruler;
  border-radius: $ruler*20;
  padding: $ruler;
  background-color:$color-bg;
  text-shadow: 1px 1px 0 $color-white;
}
.form-group textarea, input:not([type=file]) {
  padding: 20px 10px;
  box-shadow:  inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 30%, 50px;
  background-color: #EBECF0;


  &:focus {
    box-shadow:  inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-shadow;
    background-color: #EBECF0;
    border-color: transparent;
  }
}

.form-button input{
  color: black;
  font-weight: bold;
  box-shadow: -5px -5px 20px $color-white,  5px 5px 20px $color-shadow;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  border: 0;
  outline: 0;
  font-size: $ruler;
  border-radius: $ruler*20;
  padding: $ruler;
  background-color:$color-bg;
  text-shadow: 1px 1px 0 $color-white;

  &:hover {
    background-color: transparent;
    color: #37CDAF;
    font-weight: bold;
    box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
  }

  &:active {
    box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
  }
}


.form-button input[type="radio"]{
  &:focus {

    background-color: #37CDAF;
    box-shadow: none;
  }
}
