<% if @sender.username.present? %>
  <h1> Welcome to Shareverything <%= @sender.username %> </h1>
<% else %>
  <h1> Welcome to Shareverything</h1>
<% end %>
<p> Your message was sent to <%= @sender.recipient %> : </p>
<p>Your message : <%= @sender.message %></p>
<p> Thanks for using Shareverything</p>
