<% if @sender.username.present? %>
  <h1> Welcome to Shareverything <%= @sender.username %> </h1>
<% else %>
  <h1> Welcome to Shareverything</h1>
<% end %>
<p> Your file was sent to <%= @sender.recipient %> : </p>
<% if @sender.message.present? %>
<p>Your message : <%= @sender.message %></p>
<% end %>
<p> Thanks for using Shareverything</p>
